<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Admin Sales App</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
      <li *ngIf="isAdmin" style="cursor:pointer" [routerLinkActive]="['active']">
        <a dropdown class="dropdown">
          <div dropdownToggle class="dropdown-toggle">
            Manage <span class="caret"></span>
          </div>
          <div *dropdownMenu class="dropdown-menu">
            <li><a routerLink="/manage-user">User</a></li>
            <li><a routerLink="/manage-product">Product</a></li>
            <!--<li><a routerLink="/manage-focus">Focus</a></li>-->
          </div>
        </a>
      </li>
      <li *ngIf="isAdmin" [routerLinkActive]="['active']"><a routerLink="/upload">Upload</a></li>
      <li *ngIf="isAdmin" [routerLinkActive]="['active']"><a routerLink="/notif">Notif</a></li>
      <!--<li *ngIf="isLoggedIn" style="cursor:pointer" [routerLinkActive]="['active']">
        <a dropdown class="dropdown">
          <div dropdownToggle class="dropdown-toggle">
            Product Report <span class="caret"></span>
          </div>
          <div *dropdownMenu class="dropdown-menu">
            <li><a routerLink="/daily-report">Daily</a></li>
            <li><a routerLink="/monthly-report">Monthly</a></li>
          </div>
        </a>
      </li>-->
      <li [routerLinkActive]="['active']" *ngIf="isLoggedIn"><a routerLink="/report-sales">Report Sales</a></li>
      <!--<li [routerLinkActive]="['active']" *ngIf="isLoggedIn"><a routerLink="/absen">Absen</a></li>
      <li [routerLinkActive]="['active']" *ngIf="isLoggedIn"><a routerLink="/focus">Focus</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
      <li><a>{{sales.nama_sales}} ({{sales.depot}})</a></li>
      <li><a (click)="logout()" style="cursor:pointer"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>

    <ul class="navbar-form navbar-right" *ngIf="!isLoggedIn">
      <form (ngSubmit)="login()" #form="ngForm">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input [(ngModel)]="credentials.username" type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div *ngIf="loading" class="input-group">
          <spinner [size]="25" [tickness]="10"></spinner>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [(ngModel)]="credentials.password" type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
      </form>
    </ul>
  </div>
</nav>
