<div class="container-fluid text-center">
  <h2>Laporan Visit Sales</h2>
  <div *ngIf="loadingSales" class="text-center">
    <spinner [size]="100" [tickness]="10"></spinner>
  </div>
  <alert type="danger" class="text-center" *ngIf="errorMessageSales"><b>{{errorMessageSales}}</b></alert>
</div>
<div *ngIf="sales" class="container-fluid">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-8">
      <table>
        <tr height="25px">
          <td width="100px"><b>Nama Sales</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.nama_sales}}</b></td>
        </tr>
        <tr height="25px">
          <td width="100px"><b>Kode SAP</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.kode_sap}}</b></td>
        </tr>
        <tr height="25px">
          <td width="100px"><b>Depot</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.depot}}</b></td>
        </tr>
      </table>


    </div>

    <div class="col-md-4 text-right">
      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)" required>
      </my-date-picker>
      <br>
      <a href="{{linkExport}}/{{sales.kode_sales}}/" class="btn btn-info top10" role="button" *ngIf="length">
        Export <span class="glyphicon glyphicon-export"></span></a>
      <button class="btn btn-info top10" type="button" disabled="disabled" *ngIf="!length">
        Export <span class="glyphicon glyphicon-export"></span></button>
    </div>
  </div>

  <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
  </ng-table>

  <div *ngIf="loadingSales" class="text-center">
    <spinner [size]="100" [tickness]="10"></spinner>
  </div>

  <alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pagination">
        <button class="btn btn-primary" type="button">Total Record : {{length}}</button>
      </div>
      <div class="col-md-6 text-right " style="padding: 0px">
        <pagination *ngIf="config.paging" style="margin: 0px" class="pagination" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
</div>
