<div class="container-fluid" style="margin-top: 10px">
  <div class="row">
    <div class="col-md-3">
      <a [routerLink]="['/manage-user/input-user']" class="btn btn-info top5" role="button">
        <span class="glyphicon glyphicon-plus"></span> Create User
      </a>
    </div>
    <div class="col-md-6 text-center">
      <h2 style="margin-top:0px">User List</h2>
    </div>
    <div class="col-md-3 text-right">
      <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
        (tableChanged)="onChangeTable(config)" />
    </div>
  </div>

  <br>
  <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
  </ng-table>

  <div *ngIf="loading" class="text-center">
    <spinner [size]="100" [tickness]="10"></spinner>
  </div>

  <alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>

  <div class="container-fluid" style="margin-top: 10px">
    <div class="row">
      <div class="col-md-6 pagination">
        <button class="btn btn-primary" type="button">Total Record : {{length}}</button>
      </div>
      <div class="col-md-6 text-right " style="padding: 0px">
        <pagination *ngIf="config.paging" style="margin: 0px" class="pagination" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
</div>