<div class="container-fluid col-md-4">
  <h2>Create Product</h2>
  <hr>
  <form (ngSubmit)="createProduct()" #form="ngForm">

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="nama_product" class="control-label">Nama Product</label>
          <input [(ngModel)]="nama_product" type="text" name="nama_product" class="form-control" required>
        </div>
      </div>
      <div *ngIf="loading" class="col-md-1 text-right top25">
        <div class="input-group">
          <spinner [size]="30" [tickness]="10"></spinner>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-right top25">
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Create</button>
        </div>
      </div>
    </div>

    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
  </form>
</div>