<div class="container-fluid col-md-4">
  <h2>Push Notification</h2>
  <hr>
  <form (ngSubmit)="pushNotif()" #form="ngForm">

    <div class="form-group">
      <label for="judul" class="control-label">Judul</label>
      <input [(ngModel)]="notif.judul" type="text" name="judul" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="short_desc" class="control-label">Short Description</label>
      <input [(ngModel)]="notif.short_desc" type="text" name="short_desc" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="description" class="control-label">Description</label><br>
      <textarea [(ngModel)]="notif.description" name="description" class="form-control" rows="4" cols="68" required></textarea>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-1 text-right top15">
        <div *ngIf="loading" class="input-group">
          <spinner [size]="30" [tickness]="10"></spinner>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-right top15">
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Push</button>
        </div>
      </div>
    </div>
    <br>
    <alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>
    <alert type="success" class="text-center" *ngIf="successMessage"><b>{{successMessage}}</b></alert>
  </form>
</div>
