<div class="container-fluid">
  <h2 style="margin-top:0px; text-align: center">Laporan CRM Sales</h2>
  <div *ngFor="let m of months">
    <h3 *ngIf="mm === m.val" class="text-center">{{m.name}} {{yy}}</h3>
  </div>
  <div *ngIf="loadingSales" class="text-center">
    <spinner [size]="100" [tickness]="10"></spinner>
  </div>
  <alert type="danger" class="text-center" *ngIf="errorMessageSales"><b>{{errorMessageSales}}</b></alert>
</div>
<div *ngIf="sales" class="container-fluid">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-4">
      <table>
        <tr height="25px">
          <td width="100px"><b>Nama Sales</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.nama_sales}}</b></td>
        </tr>
        <tr height="25px">
          <td width="100px"><b>Kode SAP</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.kode_sap}}</b></td>
        </tr>
        <tr height="25px">
          <td width="100px"><b>Depot</b></td>
          <td width="10px"><b> : </b></td>
          <td><b>{{sales.depot}}</b></td>
        </tr>
      </table>
    </div>

    <div class="col-md-8 text-right">
      <form (ngSubmit)="search()" class="form-inline">
        <select [(ngModel)]="mm" class="form-control" name="mm">
           <option  *ngFor="let m of months" [ngValue]="m.val" [selected]="mm === m.val ">{{m.name}}</option>
         </select>
        <select [(ngModel)]="yy" class="form-control" name="yy">
           <option  *ngFor="let y of years" [ngValue]="y" [selected]="yy === y ">{{y}}</option>
         </select>
        <button class="btn btn-primary form-control" type="submit">Search</button>
      </form>

      <a href="{{linkExport}}/{{sales.kode_sales}}/{{mm}}/{{yy}}" class="btn btn-info top10" role="button" *ngIf="length">
        Export <span class="glyphicon glyphicon-export"></span></a>
      <button class="btn btn-info top10" type="button" disabled="disabled" *ngIf="!length">
        Export <span class="glyphicon glyphicon-export"></span></button>

    </div>
  </div>

  <div style="overflow-x:auto;">
      <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
      </ng-table>
  </div>

  <div *ngIf="loadingCrm" class="text-center">
    <spinner [size]="100" [tickness]="10"></spinner>
  </div>

  <alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pagination">
        <button class="btn btn-primary" type="button">Total Record : {{length}}</button>
      </div>
      <div class="col-md-6 text-right " style="padding: 0px">
        <pagination *ngIf="config.paging" style="margin: 0px" class="pagination" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
</div>
