<alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>
<div *ngIf="loadingProduct" class="text-center">
  <spinner [size]="100" [tickness]="10"></spinner>
</div>
<div class="container-fluid col-md-4" *ngIf="productList.kode_product">
  <div class="row">
    <div class="col-md-8">
      <h2>{{productList.kode_product}}</h2>
    </div>
    <div class="col-md-4 text-right">
      <button (click)="nonActive()" class="btn btn-danger top15" *ngIf="productList.status">
          <span class="glyphicon glyphicon-remove"></span> Non Active 
      </button>
      <button (click)="active()" class="btn btn-success top15" *ngIf="!productList.status">
          <span class="glyphicon glyphicon-ok"></span> Active 
      </button>
    </div>
  </div>
  <hr>
  <form #form="ngForm" (submit)="updateData()">
    <div class="form-group">
      <label for="nama_product" class="control-label">Nama Product</label>
      <input [(ngModel)]="productList.nama_product" type="text" name="nama_product" class="form-control" required>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Update Data</button>
      </div>
      <div class="col-md-2 text-center">
        <div *ngIf="loading">
          <spinner [size]="33" [tickness]="10"></spinner>
        </div>
      </div>
    </div>
  </form>
  <br>
  <alert type="danger" class="text-center" *ngIf="errorUpdate"><b>{{errorUpdate}}</b></alert>
  <alert type="success" class="text-center" *ngIf="successUpdate"><b>{{successUpdate}}</b></alert>
</div>