/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 70px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top100 { margin-top:100px; }

.btn-width-100 {
  width: 100%
}

.td-width-50 { width: 50px }
.td-width-60 { width: 60px }
.td-width-70 { width: 70px }
.td-width-75 { width: 75px }
.td-width-80 { width: 80px }
.td-width-90 { width: 90px }
.td-width-110 { width: 110px }
.td-width-120 { width: 120px }
.td-width-130 { width: 130px }
.td-width-140 { width: 140px }
.td-width-150 { width: 150px }

.col-md-2-5 {width: 20%}

.table>thead>tr>th {
    vertical-align: middle;
}

img {
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;

  display: block;
  position: relative;
}

img:after {
  content: "Photo Selfie";

  font-size: 16px;
  font-family: FontAwesome;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 100, 100);
}

