<alert type="danger" class="text-center" *ngIf="errorMessage"><b>{{errorMessage}}</b></alert>
<div *ngIf="loadingEmail" class="text-center">
  <spinner [size]="100" [tickness]="10"></spinner>
</div>
<div class="container-fluid col-md-4" *ngIf="email.depot">
  <div class="row">
    <div class="col-md-8">
      <h2>{{email.depot}}</h2>
    </div>
  </div>
  <hr>
  <form #form="ngForm" (submit)="updateData()">
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input [(ngModel)]="email.email" type="text" name="email" class="form-control" required>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Update Email</button>
      </div>
      <div class="col-md-2 text-center">
        <div *ngIf="loading">
          <spinner [size]="33" [tickness]="10"></spinner>
        </div>
      </div>
    </div>
  </form>
  <br>
  <alert type="danger" class="text-center" *ngIf="errorUpdate"><b>{{errorUpdate}}</b></alert>
  <alert type="success" class="text-center" *ngIf="successUpdate"><b>{{successUpdate}}</b></alert>
</div>
